.App {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}
/* styles.css */

.App .toggle-button {
  position: fixed !important;
  top: calc(100vh - 60px) !important;
  left: 8px !important;
  z-index: 1000 !important;
}
